@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

body {
    background-color: rgb(247, 232, 204);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section-heading{
    font-size: 2rem;
    margin-bottom: 1em;
    margin-top: .5em;
    color: rgb(107, 13, 13);
}

.poem-heading {
    margin-top: 1em;
    font-size: 2em;
    color: rgb(107, 13, 13);
}

#visky {
    max-height: 300px;
    min-height: 200px;
    border-radius: 50%;
    border: 7px solid rgb(250, 184, 86);
}

#cake {
    max-height: 20em;
    border: 7px solid rgb(250, 184, 86);
    border-radius: 50%;
}

.poem {
    color: rgb(177, 126, 64);
}

p {
    margin-top: .3em;
    font-size: 1.5rem;
}

button{
    height: 2.8em;
    width: 6em;
    background:rgb(248, 171, 213);
    border-style: none;
    border-radius: .7em;
    margin-top: 1em;
    margin-bottom: 4em;
    border: 1px solid  rgb(155, 90, 90);
}

button:hover{
    background: rgb(243, 144, 198);
}

.fas {
    color: rgb(155, 90, 90);
    height: 20px;
    width: 20px;
}